@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  font-family: "DM Sans", sans-serif;
  color: white;
}

main,
section,
footer {
  padding-left: 15rem;
  padding-right: 15rem;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
}

button {
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.page-container {
  max-width: 250rem;
  width: 100%;
}
.btn-main{
  background-color: #27ae60;
  color: white;
  width: 14.3rem;
  height: 4.2rem;
  border: none;
}

.btn-2 {
  width: 14.3rem;
  height: 4.2rem;
  color: white;
  background-color: transparent;
  border: 1px solid #f2f2f2;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 8rem;
}

.logo {
  font-size: 3.6rem;
  font-weight: 700;
}

.header-right {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  border-bottom: 1px solid transparent;
  transition: 0.2s all ease-in-out;
}

.link:hover {
  border-bottom: 1px solid white;
}
.main-section {
  padding-top: 12.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

.description {
  font-size: 1.8rem;
  color: #828282;
  font-weight: 500;
  padding: 0.9rem 0 3.4rem 0;
}

.main-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-img {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  padding: 2.6rem;
  border: 1px solid #4f4f4f;
  object-fit: cover;
}
.main-img:hover{
  transform:rotateY(180deg);}

.about {
  margin-top: 4.7rem;
}

.about-title {
  margin-bottom: 3.8rem;
}

.about-description {
  width: 74.5rem;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
}

.info-container {
  width: 100%;
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-circle {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  background-color: #27ae60;
  border: 2.5rem solid #212121;
}

.info-item-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 1.8rem;
  margin-bottom: 0.3rem;
  margin: 1.8rem 0 0rem;
}

.info-item-description {
  font-size: 1.8rem;
}

.what {
  margin-top: 12rem;
}

.what-container {
  margin-top: 10.2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.what-item {
  width: 35rem;
  height: 24rem;
  padding: 3.5rem 7rem 3.6rem 5rem;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 5px solid transparent;
  transition: 0.2s all ease-in-out;
}

.what-item:hover {
  border-bottom: 5px solid #27ae60;
}

.what-item-title {
  font-size: 3.6rem;
  font-weight: 500;
  color: #535353;
}

.skills {
  margin-top: 13.3rem;
}

.skills-container {
  width: 100%;
  height: 23.5rem;
  margin-top: 7.3rem;
  background-color: #212121;
  border: 1px solid #333;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skills-percentage {
  font-weight: 700;
  font-size: 7.2rem;
  color: #4f4f4f;
}

.skills-name {
  font-weight: 700;
  font-size: 2.4rem;
  color: #27ae60;
}
.contact {
  margin-top: 10rem;
}

form {
  width: 75rem;
  margin-top: 8.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.input-container {
  width: 100%;
  display: flex;
  gap: 3.7rem;
}

input,
text {
  width: 100%;
  height: 5.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4f4f4f;
  color: white;
}

text{
  height: 11rem;
  border: 1px solid #4f4f4f;
  resize: none;

  display: flex;
  align-items: flex-start;

  padding: 1rem 0 0 1.2rem;
}
footer {
  margin-top: 16rem;
  text-align: center;
  margin-bottom: 9.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #4f4f4f;
}
@media (max-width: 1400px) {
  main,
  section,
  footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 1300px) {
  .main-section {
    justify-content: space-around;
  }
  .main-img {
    width: 40rem;
    height: 40rem;
  }

  main,
  section,
  footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .what-item {
    width: 32rem;
    padding: 2.5rem;
  }

  .what-container {
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 56%;
  }

  .about-description {
    font-size: 2.2rem;
    line-height: 3.4rem;
  }

  .skill-percentage {
    font-size: 6.5rem;
  }
}

@media (max-width: 970px) {
  html {
    font-size: 54%;
  }
  .what-item {
    width: 30rem;
  }
}

@media (max-width: 880px) {
  .what-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .main-img {
    width: 30rem;
    height: 30rem;
  }

  h1 {
    font-size: 3.1rem;
  }

  .skills-percentage {
    font-size: 5rem;
  }
}

@media (max-width: 700px) {
  .main-section {
    padding-top: 3.8rem;
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .main-left {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .about-description {
    width: 95%;
  }

  .info-container {
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }

  .info-item {
    width: 16rem;
  }

  .skills-container {
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 3rem;
    padding: 2rem 3rem;
  }

  form {
    width: 95%;
  }
  .header-right {
    display: none;
  }
}

@media (max-width: 550px) {
  .input-container {
    flex-direction: column;
  }

  .about-description {
    font-size: 2rem;
  }

  textarea {
    height: 15rem;
  }
}

@media (max-width: 450px) {
  main,
  section,
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
